<ion-header>
</ion-header>

<ion-content>

  <div class="background-container">

    <div class="background-filter">

    <ion-card>
      <img src="../../assets/logo_yabi00.png" style="height: 85px; width: 180px;">
     <ion-card-header>
       <ion-card-title style="color: #000000;">
        {{'subLogo' | translate}} 
       </ion-card-title><br><br>
     </ion-card-header>
     <ion-card-content>
       <ion-button (click)="loginPage()">
        <b> {{'join' | translate}} </b>
       </ion-button>
       <!-- Vert #275C3C -->
       <br><br><span style="color: #000000;" (click)="aboutPage()"> {{'aboutYaBi' | translate}}</span>
     </ion-card-content>
    </ion-card>
    </div>
  </div>

</ion-content>
