<app-title [title]="title"></app-title>

<ion-content>

    <h2 class="center" style="color: #275C3C">{{'sendTicket' | translate}}</h2>

    <p style="color: #000000; margin: 0 15px 0 15px; text-align: center !important;">Votre QR-Code de transfert de
        {{'ticket' | translate}}:</p><br>

    <div class="center" *ngIf="myAngularxQrCode">
        <qrcode [qrdata]="myAngularxQrCode" [width]="150" [errorCorrectionLevel]="'M'" [colorDark]="'#275C3C'" [margin]="'2'">
        </qrcode>
    </div>
    <div class="center" *ngIf="!myAngularxQrCode">
        <app-progress-indeterminate></app-progress-indeterminate>
    </div>
    <br>
    <p class="center" style="color: #000000; margin: 0 15px 0 15px; text-align: center;">{{'doAScan' | translate}}
    </p>
    <p class="center">
        <a href="https://yabain.com" target="_blank" style="color: #275C3C; text-align: center;">{{'howToScan' | translate}}</a>
    </p>
    <div class="center">
        <img width="70" src="../../../../../assets/icon/qr_code_scanner.png">
    </div>
    <div class="ion-padding">
    <p style="background-color: #eda539; color: #000000; border-radius: 10px;
    padding: 10px 10px 10px 10px;">
        <b><u>{{'nb' | translate}} </u></b><br>{{'nbMsg' | translate}} 
    </p>
    <!-- for test -->
    <ion-button expand="block" (click)="createQRCode()" class="center" *ngIf="myAngularxQrCode">
        <ion-icon name="link-outline" style="margin-right: 3px;"></ion-icon> {{'copyShare' | translate}}
     </ion-button>
        <app-progress-indeterminate (click)="createQRCode()" class="center" *ngIf="!myAngularxQrCode"></app-progress-indeterminate>
    <ion-item lines="none">
        <ion-label><b>Data to Qr-Code: </b></ion-label>
        <ion-input [(ngModel)]="textToCode" placeholder="chaine de caractères"></ion-input>
    </ion-item></div>
    <!-- /for test -->
    <br><br><br><br>
</ion-content>