.input-code {
  background-color: white;
  color: #275C3C;
  margin: 10px;
  width: 30px;
  height: 40px;
  border-radius: 10px;
  border-color: #275c3c81;
  font-size: medium;
  text-align: center;
  border-left: none; border-right: none
}