<ion-header class="ion-no-border" style="padding-top: 0px; padding-bottom: 0px;margin-bottom: 0;">
    <ion-toolbar style="padding-left: 0px; padding-top: 10px;">
        <ion-buttons slot="start">
            <img src="../../../assets/chevron-left.png" style="color: #275C3C; height: 35px"
                (click)="navigateToHomePage()">
            <!-- <i class="fa fa-arrow-left" style="color: #275C3C; font-size: 25px" (click)="prviousPage()"></i> -->
        </ion-buttons>
        <ion-title style="color: #275C3C" class="center col col-center text-center"> {{title}}</ion-title>
        
        <ion-buttons slot="end" id="more-notif-button">
            <ion-button>
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" style="color: #275C3C;"
                    ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <div id="container">
        <!-- Nested Popover -->
        <ion-button>Popover test</ion-button>
        <ion-popover trigger="more-notif-button" [dismissOnSelect]="true" [isOpen]="false">
            <ng-template>
                <ion-content>
                    <ion-list>
                        <ion-list-header>Titre</ion-list-header>
                        <ion-item button>item 1</ion-item>
                        <ion-item button>item 2</ion-item>
                        <ion-item button>item 3</ion-item>
                        <ion-item lines="none" detail="false" button onClick="dismissPopover()">fermer</ion-item>
                    </ion-list>
                </ion-content>
            </ng-template>
        </ion-popover>
    </div>
</ion-content>