<ion-header class="ion-no-border" style="padding-top: 0px; padding-bottom: 0px;margin-bottom: 0;">
    <ion-toolbar style="padding-left: 0px; padding-top: 10px;">
        <ion-buttons slot="start">
            <img src="../../../assets/chevron-left.png" style="color: #275C3C; height: 35px"
                (click)="navigateToHomePage()">
            <!-- <i class="fa fa-arrow-left" style="color: #275C3C; font-size: 25px" (click)="prviousPage()"></i> -->
        </ion-buttons>
        <ion-title style="color: #275C3C" class="center col col-center text-center"> {{title}}</ion-title>

        <ion-buttons slot="end" id="more-notif-button">
            <ion-button>
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" style="color: #275C3C;">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <div id="container">
        <!-- Nested Popover --><button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModalCenter">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Create Project</h4>
                    </div>
                    <div class="modal-body">Not yet made</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-dialog modal-lg" role="document" style="z-index: -1;">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
                </div>
                <div class="modal-body" style="color: rgb(45, 44, 44) ;">
                    <div class="center">
                        <img src="../../../../assets/key2.jpg" style="height: 50px">
                    </div>
                    <h4 class="modal-title center" style="color: #275C3C; font-size: 1.5em;">Clé de sécurité</h4>
                    <p style="text-align: justify;">
                        <!-- <ion-icon name="document-lock-outline" style="color: #275C3C; height: 25px; width: 30px">
                        </ion-icon> -->
                        Cette opéartion nécessite votre confirmation. Veuillez entrer votre clé à 4 chiffres.
                        Par défaut, la clé est 0000. Vous pouvez la modifier à tout moment <a routerLink="/folder/profile"> -> ici.</a>
                    </p>
                    <p class="center">
                        <input type="text" maxlength="1" size="1" placeholder="0" name="num1" id="num1"
                            class="input-code" onkeyup="autoTab('num1', '1', 'num2')" />-
                        <input type="text" maxlength="1" size="1" placeholder="0" name="num2" id="num2"
                            class="input-code" onkeyup="autoTab('num2', '1', 'num3')" />-
                        <input type="text" maxlength="1" size="1" placeholder="0" name="num3" id="num3"
                            class="input-code" onkeyup="autoTab('num3', '1', 'num4')" />-
                        <input type="text" maxlength="1" size="1" placeholder="0" name="num4" id="num4"
                            class="input-code" />
                    </p>
                </div>
                <div class="modal-footer center">
                    <button type="button" class="btn btn-danger" style="background-color: #8b1e1e;"
                        (click)="largeModal.hide()">Annuler</button>
                    <button type="button" class="btn btn-secondary" style="background-color: #ffffff;">_______</button>
                    <button type="button" class="btn btn-success" (click)="unLock()" style="background-color: #275C3C;">Valider</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</ion-content>