<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <div class="shape"><img src="../../assets/shape.svg" /></div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Réinitialiser mon mot de passe
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="alert" *ngIf="error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Erreur:</strong> message d'Erreur
          </div>
          <div class="alertSuccess" *ngIf="success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Success!</strong> Votre lien de réinitialisation de mot de passe vous a été envoyé par mail.
            Consultez votre boite au lettre.
          </div>
          <form [formGroup]="resetForm" (ngSubmit)="submit()" style="color: white;">
            <ion-item>
              <ion-input type="email" id="email" formControlName="email" placeholder="Adresse Email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
              <div *ngIf="f.email.errors.required">Votre email est requis<br><br></div>
            </div>
            <!-- <ion-card-subtitle> -->
            <div style="color: black;"> Entrer votre email pour recevoir un lien de réinitialisation.</div>
            <!-- </ion-card-subtitle> -->
            <div class="bottom-section">
              <ion-button type="submit" *ngIf="waitingReset" disabled>
                <app-progress-indeterminate></app-progress-indeterminate>
              </ion-button>
              <ion-button type="submit" *ngIf="!waitingReset"><b> Réinitialiser </b></ion-button>
            </div>
          </form>
          <br>
          <strong (click)="navigateToSigninPage()" style="color: #198645;">Connexion</strong>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>