<ion-header class="ion-no-border" style="padding-top: 0px; padding-bottom: 0px;margin-bottom: 0;">
    <ion-toolbar style="padding-left: 0px; padding-top: 10px;">
        <ion-buttons slot="start">
            <img src="../../../assets/chevron-left.png" style="color: #275C3C; height: 35px"
                (click)="navigateToHomePage()">
            <!-- <i class="fa fa-arrow-left" style="color: #275C3C; font-size: 25px" (click)="prviousPage()"></i> -->
        </ion-buttons>
        <ion-title style="color: #275C3C" class="center col col-center text-center"> {{'addEvent' | translate}}
        </ion-title>
        <ion-buttons slot="primary" (click)="navigateToHistoryPage()">
            <ion-button class="bordered" fill="solid" color="#275C3C" style="color: #275C3C">
                <ion-icon name="timer-outline" style="margin-left: 3px"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-card class="img-add-event bordered">
            <ion-card-header>
                <!-- <ion-card-subtitle>Assister aux</ion-card-subtitle> -->
                <ion-card-title class="add-event"><i>{{'profile' | translate}}</i></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Profil Profil Profil Profil Profil Profil
            </ion-card-content>
        </ion-card><br>
    </div>
    <form style="color: black;">
        <fieldset class="form-group">
            <div class="custom-control custom-radio">
                <input style="margin-left: 15px; margin-right: 10px;" type="radio" id="customRadio1" name="customRadio"
                    class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">{{'publicEvent' | translate}}</label>
            </div>
            <div class="custom-control custom-radio">
                <input style="margin-left: 15px; margin-right: 10px;" type="radio" id="customRadio2" name="customRadio"
                    class="custom-control-input">
                <label class="custom-control-label" for="customRadio2">{{'privatEvent' | translate}}</label>
            </div>
        </fieldset>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="categorie">{{'categorie' | translate}}</label>
                <select id="categorie" class="form-control">
                    <option selected>{{'sport' | translate}}</option>
                    <option>{{'conference' | translate}}</option>
                    <option>{{'fiesta' | translate}}</option>
                    <option>{{'concert' | translate}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="titre">{{'title' | translate}}</label>
                <input type="text" class="form-control" id="titre" placeholder="{{'eventName' | translate}}">
            </div>
            <div class="form-group col-md-6">
                <label for="description">{{'description' | translate}}</label>
                <input type="text" class="form-control" id="description" placeholder="{{'aboutEvent' | translate}}">
            </div><br>
            <span style="margin-left: 15px; color: #275C3C; font-size: 1.5em;"> {{'date' | translate}}</span>
            <div class='col-sm-6'>
                <label for="date" style="margin-left: auto !important;">{{'start' | translate}}</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='date' class="form-control" id="date" placeholder="{{'dmy' | translate}}" />
                        <span class="input-group-addon" for="date">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <label for="date">{{'houre' | translate}}</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='time' class="form-control" id="date" placeholder="hh:mm" />
                        <span class="input-group-addon" for="date">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <label for="date">{{'end' | translate}}</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='date' class="form-control" id="date" placeholder="jj/mm/aaaa" />
                        <span class="input-group-addon" for="date">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <label for="date">{{'houre' | translate}}</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='time' class="form-control" id="date" placeholder="hh:mm" />
                        <span class="input-group-addon" for="date">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div><br>
            <span style="margin-left: 15px; color: #275C3C; font-size: 1.5em;"> {{'zone' | translate}}</span>
            <div class="form-group col-md-6">
                <label for="pays">{{'country' | translate}}</label>
                <select id="pays" class="form-control">
                    <option selected>{{'cameroon' | translate}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="city">{{'city' | translate}}</label>
                <select id="city" class="form-control">
                    <option>Bafang</option>
                    <option>Bafia</option>
                    <option>Bafoussam</option>
                    <option>Bamenda</option>
                    <option>Bangangté</option>
                    <option>Buéa</option>
                    <option>Douala</option>
                    <option>Dschang</option>
                    <option>Ebolowa</option>
                    <option>Foumban</option>
                    <option>Garoua</option>
                    <option>Kaélé</option>
                    <option>Koussérie</option>
                    <option>Kribi</option>
                    <option>Mbalmayo</option>
                    <option>Mbanga</option>
                    <option>Nagoundéré</option>
                    <option>Sangmélima</option>
                    <option>Yagoua</option>
                    <option selected>Yaoundé</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="place">{{'zone' | translate}}</label>
                <input type="text" class="form-control" id="place">
            </div>
            <br>

            <span style="margin-left: 15px; color: #275C3C; font-size: 1.5em;"> {{'typeTicket' | translate}}</span>
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#free" style="color: #42574a;"> {{'free' | translate}}</a></li>
                <li class="active"><a data-toggle="tab" href="#simple" style="color: #42574a;"> {{'uniform' | translate}}</a></li>
                <li><a data-toggle="tab" href="#graduel" style="color: #42574a;"> {{'graduatesTicket' | translate}}</a>
                </li>
            </ul>

            <div class="form-group col-md-4">
                <div class="tab-content">
                    <div id="simple" class="tab-pane fade in active">
                        <h3>{{'uniformTicket' | translate}}</h3>
                        <p>{{'uniformTicketMsg' | translate}}</p>
                        <label for="place">{{'ticketValue' | translate}}</label>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="1 500" />
                            <span class="input-group-addon" for="date">
                                FCFA
                            </span>
                        </div>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="100" />
                            <span class="input-group-addon" for="date">
                                {{'places' | translate}}
                            </span>
                        </div>
                        <br>
                        <div class="form-check">
                            <ion-toggle color="success" id="unifRemb" style="padding-bottom: 0px;"></ion-toggle>
                            <label class="form-check-label" for="unifRemb" style="margin-left: 0px;">
                                {{'returnableTicket' | translate}}
                            </label><br>
                            {{'returnableTicketMsg' | translate}}
                        </div>
                    </div>
                    <div id="graduel" class="tab-pane fade">
                        <h3>{{'graduatesTicket' | translate}}</h3>
                        <!-- <p>Les invitations sont échell.</p> -->
                        <br>
                        <ion-toggle color="success" id="classicChk" style="padding-bottom: 0px;" checked></ion-toggle>
                        <label for="classic" style="margin-left: 10px;">{{'classic' | translate}}</label>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="1500" />
                            <span class="input-group-addon" for="date">
                                FCFA
                            </span>
                        </div>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="100" />
                            <span class="input-group-addon" for="date">
                                {{'places' | translate}}
                            </span>
                        </div>
                        <br>
                        <ion-toggle color="success" id="vipchk" style="padding-bottom: 0px;" checked></ion-toggle>
                        <label for="vipchk" style="margin-left: 10px;">{{'vip' | translate}}</label>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="5000" />
                            <span class="input-group-addon" for="date">
                                FCFA
                            </span>
                        </div>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="100" />
                            <span class="input-group-addon" for="date">
                                {{'places' | translate}}
                            </span>
                        </div><br>
                        <ion-toggle color="success" id="prestigeChk" style="padding-bottom: 0px;" checked></ion-toggle>
                        <label for="prestigeChk" style="margin-left: 10px;">{{'prestige' | translate}}</label>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="10000" />
                            <span class="input-group-addon" for="date">
                                FCFA
                            </span>
                        </div>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="100" />
                            <span class="input-group-addon" for="date">
                                {{'places' | translate}}
                            </span>
                        </div><br>
                        <div class="form-check">
                            <ion-toggle color="success" id="gradRemb" style="padding-bottom: 0px;"></ion-toggle>
                            <label class="form-check-label" for="gradRemb" style="margin-left: 10px;">
                                {{'returnableTicket' | translate}}
                            </label><br>
                            {{'returnableTicketMsg' | translate}}
                        </div>
                    </div>
                    <div id="free" class="tab-pane fade">
                        <h3>{{'freeTicket' | translate}}</h3>
                        <p>{{'freeTicketMsg' | translate}}</p>
                        <div class='input-group date col-md-4' id='datetimepicker1'>
                            <input type='number' class="form-control" id="date" placeholder="100" />
                            <span class="input-group-addon" for="date">
                                {{'places' | translate}}
                            </span>
                        </div>
                    </div>
                    <br>
                    <button (click)="submit()" type="submit" class="btn btn-success center"><b> {{'createEvent' |
                            translate}} </b></button>
                </div>
            </div>
            <!-- <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div> -->
        </div>
        <!-- <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div> -->
    </form>
    <!-- </ion-item> -->
    <br><br><br><br>

</ion-content>