<ion-header class="ion-no-border" style="padding-top: 5px; padding-bottom: 0px;margin-bottom: 0;">
    <ion-toolbar style="padding-left: 0px; padding-top: 5px;">
        <ion-buttons slot="start">
            <i class="fa fa-arrow-left" style="color: #275C3C; font-size: 25px" (click)="prviousPage()"></i>
        </ion-buttons>
        <ion-title style="color: #275C3C" class="center col col-center text-center"> {{title}}</ion-title>
        <ion-buttons slot="primary" (click)="navigateToNotificationsPage()">
            <ion-button class="bordered" fill="solid" color="#275C3C" style="color: #275C3C">
                <ion-icon color="custom" name="notifications" style="color: aliceblue;"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>