<app-title [title]="title"></app-title>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-card class="img-concert bordered">
            <ion-card-header>
                <ion-card-subtitle>Concerts / Ciné</ion-card-subtitle>
                <ion-card-title class="concert"><i>Show biz</i></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Concerts Concerts Concerts Concerts Concerts Concerts
            </ion-card-content>
        </ion-card>
        <ion-card class="img-sport bordered">
            <ion-card-header>
                <!-- <ion-card-subtitle>Vive le</ion-card-subtitle> -->
                <ion-card-title class="sport"><i> Sport</i></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport Sport
            </ion-card-content>
        </ion-card>
        <ion-card class="img-fiesta bordered">
            <ion-card-header>
                <!-- <ion-card-subtitle>Assister aux</ion-card-subtitle> -->
                <ion-card-title class="fiesta"><i>Fiesta</i></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Fiesta Fiesta Fiesta Fiesta Fiesta Fiesta Fiesta Fiesta Fiesta Fiesta Fiesta Fiesta Fiesta
            </ion-card-content>
        </ion-card>
        <ion-card class="img-conferences bordered">
            <ion-card-header>
                <!-- <ion-card-subtitle>Prendre part aux</ion-card-subtitle> -->
                <ion-card-title class="conferences"><i>Conférences</i></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Conférences Conférences Conférences Conférences Conférences Conférences Conférences Conférences Conférences Conférences Conférences
            </ion-card-content>
        </ion-card>
    </div>
<br><br><br>

</ion-content>