
<ion-content>
<div class="background-pic">
  <div class="background-filter">
    <div class="shape"><img src="../../assets/shape.svg" /></div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Réinitialiser mon mot de passe
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Adress Email"></ion-input>
        </ion-item>
        <!-- <ion-card-subtitle> -->
          Entrer votre <strong>email</strong> pour réinitialiser le mot de passe
        <!-- </ion-card-subtitle> -->

        <div class="bottom-section">
          <ion-button (click)="submit()" type="submit"><b> Réinitialiser </b></ion-button>
        </div><br>
        <strong (click)="navigateToSigninPage()">Connexion</strong>
      </ion-card-content>
    </ion-card>
  </div>
</div>

</ion-content>
