<ion-router-outlet style="background-color: white;"></ion-router-outlet>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar style="padding-top: 30px;">
      <img src="../../../assets/logo_yabi00.png" style="height: 70%; width: 60%;">
    </ion-toolbar>
  </ion-header>
  <ion-content class="background-menu" style="--background-color: white !important;">
    <div style="background-color: white; color: #275C3C">
      <div class="item" (click)="navigateToCategoriesPage()">
        <img src="../../../assets/icon/icon_calendar.png" alt="categories">
        <span>Catégories</span>
        <div class="icon">
          <img src="../../../assets/chevron-right.png" alt="chevron-right">
        </div>
      </div>
      <div class="item" (click)="navigateToBillesPage()">
        <img src="../../../assets/icon/icon_barcode.png" alt="biles">
        <span>Mes billets</span>
        <div class="icon">
          <img src="../../../assets/chevron-right.png" alt="chevron-right">
        </div>
      </div>
      <div class="item" (click)="navigateToFavorisPage()">
        <img src="../../../assets/icon/icon_badg.png" alt="categories">
        <!-- <img src="../../../assets/Wallet.png" alt="Wallet.png"> -->
        <span>Mes favoris</span>
        <div class="icon">
          <img src="../../../assets/chevron-right.png" alt="chevron-right">
        </div>
      </div>
      <div class="item" (click)="navigateToInvitationsPage()">
        <img src="../../../assets/icon/icon_folder.png" alt="invitations">
        <!-- <img src="../../../assets/Wallet.png" alt="Wallet.png"> -->
        <span>Mes invitations</span>
        <div class="icon">
          <img src="../../../assets/chevron-right.png" alt="chevron-right">
        </div>
      </div>
      <div class="item" (click)="navigateToWalletPage()">
        <img src="../../../assets/icon/icon_wallet.png" alt="wallet">
        <!-- <img src="../../../assets/Wallet.png" alt="Wallet.png"> -->
        <span>YaBi wallet</span>
        <div class="icon">
          <img src="../../../assets/chevron-right.png" alt="chevron-right">
        </div>
      </div>
      <div class="item" (click)="navigateToHistoryPage()">
        <img src="../../../assets/icon/icon_history.png" alt="history">
        <!-- <img src="../../../assets/Wallet.png" alt="Wallet.png"> -->
        <span>Mon historique</span>
        <div class="icon">
          <img src="../../../assets/chevron-right.png" alt="chevron-right">
        </div>
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
      <div class="item" (click)="navigateToAboutPage()">
        <img src="../../../assets/icon/icon_info.png" alt="categories">
        <span>A propos</span>
        <!-- <div class="icon">
          <img src="../../../assets/chevron-right.png" alt="chevron-right">
        </div> -->
      </div>
      <!-- <ion-list>
      <ion-item>Menu Item</ion-item>
    </ion-list> -->
    </div>
  </ion-content>
</ion-menu>

<div class="middle-button-container" (click)="navigateToAddEventPage()">
  <p style="text-align:center;">
    <ion-fab style="margin-top: -70px; margin-left: -30px;">
      <ion-fab-button style="--background:#FFFFFF" size="small">
        <ion-icon name="add-circle" style="width: 30px; height: 30px; color:#275C3C" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
</div>

<ion-tabs>

  <ion-tab-bar slot="bottom" style="background: #ffffff !important; border-color: #7ebd96d3; border-radius: 15px 15px 0 0;">

    <ion-tab-button style="background: #ffffff !important;">
      <div id="main" style="background: #ffffff !important;">
        <ion-menu-toggle style="background: #ffffff !important;">
          <img src="../../../assets/icon/icon_menu.png">
          <!-- <ion-icon name="apps" style="width: 22px; height: 22px;color: #275C3C"></ion-icon> -->
        </ion-menu-toggle>
      </div>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToHomePage()">

      <ion-icon name="home" style="width: 22px; height: 22px; color:#275C3C"></ion-icon>
      <!-- <ion-icon src="assets/bookmark.svg"></ion-icon> -->
    </ion-tab-button>

    <ion-tab-button>
      <!-- <ion-icon src="assets/Location.svg"></ion-icon> -->
    </ion-tab-button>

    <ion-tab-button (click)="navigateToSearchPage()">
      <ion-icon style="width: 22px; height: 22px; color:#275C3C" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToProfilePage()">
      <ion-icon style="width: 22px; height: 22px; color:#275C3C" name="person-circle"></ion-icon>
      <!-- <ion-icon style="color:#275C3C" src="assets/account_circle.svg"></ion-icon> -->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>