ion-header {

  // .background-menu{
    // height: 100%;
    // width: 100%;
    display: flex;
    background: url('../../../assets/bg_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    flex-direction: column;
    // justify-content: center;
    background-color: #d1d1d1 !important;
    color: #000000;
  
  // }
  span{
    color: #000000 !important;
  }

  ion-toolbar,
  ion-item {
    --background: #eef2ee;
    background: #eef2ee;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }

}

ion-tab-bar{
    //  --background:#F4FAF6;
    //  --ion-color-base: transparent !important;
    //  --background: transparent;
    --color-selected: #5f8f5f !important;
      // opacity:0.5;
      ion-tab-button{
        --background:#ffffff;
        --color-selected: #449d44 !important;
  
    }
    position: absolute;
    bottom: 0px;
    width: 100%;
    // ion-tab-button:first-child{
    //     --background: transparent;
    // }
  } 
ion-conten{
  background-color: #eef2ee !important;
  color: #000000;
}
ion-title{
  color: #275C3C;
}
  //////// Middle Button styles ///////////////////////////

  .middle-button-container{
      position: absolute;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      
  }

  //// item////

/* Item Section */
.item {
  padding: 10px;
  display: grid;
  margin-top: 50px;
  margin: 10px;
  grid-template-columns: 15% 80% 10%;
  color: var(--text-color);
}


.item img {
  width: 24px;
}

.item i {
  color: #275C3C;
}

.item span {
  font-style: normal;
  font-weight: 550;
  padding: 8px;
  line-height: 16px;
}
