<ion-content [fullscreen]="true">

 <div id="container"> 
  
   <div class="searchbar" style="padding-top: 55px;">
     <ion-searchbar placeholder="Rechercher un évènement" no-shadow style="border-color: #F4FAF6;">  
     </ion-searchbar>

     <!-- Main Featured Products Section -->
   
     <div class="main-featured-products">
        <!-- ion slider for the feature products -->

      <ion-slides pager="true" [options]="options" (click)="appRating()">
        <!-- slider one -->

      </ion-slides>
     </div>

 </div>
 </div>

</ion-content>
