
ion-content {
   --background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #ffffff 100%);
 
   .slides {
     background: #eef2ee;
     padding: 2px 3px 5px 3px;
     border-radius: 0 0 10px 10px;
   }
   .container {
     padding: 2px 3px;
     color: rgba(6, 6, 6, 0.892);
 
     h2 {
       padding-top: 0px;
       padding-bottom: 0px;
     }
 
   }
 
 }
 ion-item {
   --background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #d6ecb9 100%);
   padding: 0;
   margin: 2px 0;
   --border: 5px !important;
   --border-color: #000 !important;
   --border-radius: 5px !important;

   color: #1f1f1f;
   font-weight: 600;

   ion-label {
     padding: 3px 0;

     h4 {
       font-weight: 600;
       font-size: 16px;
       color: rgba(6, 6, 6, 0.892);
     }

     h6 {
       color: rgba(6, 6, 6, 0.892);
     }
   }

 }


 ion-grid{
   background-color: inherit;
   color: black;
   margin: 0px;
   padding: 0px;
}
//// styling up the content section //////////////////////////////////////////////////////////////////////////

#container{

   display:absolute;
   left:0;
   right: 0;
   text-align:center;
   transform: translateY(-50%);
}

////// Seaerch bar section//////

.searchbar{
   padding:0px;
   position:absolute;
   left:0;
   right: 0;
   top:20%;
   margin-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
}


ion-searchbar{
   --box-shadow:none;
   --border-radius:15px;
  color:#c0bfbf;
   //--background: #e6e6e6;
   --background:#f7f7f7;
}
.searchbar-input.sc-ion-searchbar-ios
{
   --background: rgb(190, 190, 190) !important;
}

