<ion-header class="ion-no-border" style="padding-top: 0px; padding-bottom: 0px;margin-bottom: 0;">
  <ion-toolbar style="padding-left: 0px; padding-top: 10px;">
      <ion-buttons slot="start">
          <img src="../../../assets/chevron-left.png" style="color: #275C3C; height: 35px" (click)="navigateToHomePage()">
          <!-- <i class="fa fa-arrow-left" style="color: #275C3C; font-size: 25px" (click)="prviousPage()"></i> -->
      </ion-buttons>
      <ion-title style="color: #275C3C" class="center col col-center text-center"> {{title}}</ion-title>
      <ion-buttons slot="primary" (click)="navigateToHistoryPage()">
          <ion-button class="bordered" fill="solid" color="#275C3C" style="color: #275C3C">
            <ion-icon name="timer-outline" style="margin-left: 3px"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <div class="searchbar" style="padding-top: 0px; margin: 0; padding: 0px;">
      <div style="margin: 0px 3px 0px 3px; padding-top: 0px; background-color: white !important;">
        <ion-button style="margin: 5px 5px 5px 5px;" expand="block" (click)="navigateToScan()">
            Scanner un billet
        </ion-button>
        <ion-item lines="none" class="prestige" (click)="openBille('Exprimer son potentiel', 'Utilisateur 1', 'Prestige')">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <img src="../../../assets/yi_icon.png" alt="img" style="height: 50px !important; width: 50px !important">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>Exprimer son potentiel</h4>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon src="assets/account_circle.svg"></ion-icon> Yaba-In
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="location"></ion-icon> Bangangté
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="calendar"></ion-icon> 20/12/22
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="time"></ion-icon> 17:00 - 22:30
                  </h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <img src="../../../assets/prestige_badge.png" alt="prestige" style="height: 50px; width: 100%;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item lines="none" class="vip">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <img src="../../../assets/iza.png" alt="img" style="height: 50px !important; width: 50px !important">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>Méga BOUM!! Iza's</h4>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon src="assets/account_circle.svg"></ion-icon> iZa
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="location"></ion-icon> Yaoundé
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="calendar"></ion-icon> 20/12/22
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="time"></ion-icon> 17:00 - 22:30
                  </h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <img src="../../../assets/vip_badge.png" alt="prestige" style="height: 50px; width: 100%;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item lines="none" class="classic">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <img src="../../../assets/fecefoot.png" alt="img" style="height: 50px !important; width: 50px !important">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>L'art d'innover sans diplômes</h4>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon src="assets/account_circle.svg"></ion-icon> FECAFOOT
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="location"></ion-icon> Yaoundé
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="calendar"></ion-icon> 20/12/22
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="time"></ion-icon> 17:00 - 22:30
                  </h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <img src="../../../assets/classic_badge.png" alt="prestige" style="height: 50px; width: 100%;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item lines="none" class="classic">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <img src="../../../assets/startupAc.png" alt="img" style="height: 50px !important; width: 50px !important">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>L'art d'innover sans diplômes</h4>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon src="assets/account_circle.svg"></ion-icon> StartUp Academy
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="location"></ion-icon> Yaoundé
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="calendar"></ion-icon> 20/12/22
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="time"></ion-icon> 17:00 - 22:30
                  </h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <img src="../../../assets/classic_badge.png" alt="prestige" style="height: 50px; width: 100%;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item lines="none" class="prestige">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <img src="../../../assets/yi_icon.png" alt="img" style="height: 50px !important; width: 50px !important">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>Exprimer son potentiel</h4>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon src="assets/account_circle.svg"></ion-icon> Yaba-In
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="location"></ion-icon> Bangangté
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="calendar"></ion-icon> 20/12/22
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="time"></ion-icon> 17:00 - 22:30
                  </h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <img src="../../../assets/prestige_badge.png" alt="prestige" style="height: 50px; width: 100%;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item lines="none" class="prestige">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <img src="../../../assets/iza.png" alt="img" style="height: 50px !important; width: 50px !important">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>Méga BOUM!! Iza's</h4>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon src="assets/account_circle.svg"></ion-icon> iZa
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="location"></ion-icon> Yaoundé
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="calendar"></ion-icon> 20/12/22
                  </h6>
                  <h6 style="font-size: 0.7em !important;">
                    <ion-icon name="time"></ion-icon> 17:00 - 22:30
                  </h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <img src="../../../assets/prestige_badge.png" alt="prestige" style="height: 50px; width: 100%;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
      <br><br><br>


      <!-- Main Featured Products Section -->

    </div>
  </div>

</ion-content>