<ion-header>
</ion-header>

<ion-content>

  <div class="background-container">

    <div class="background-filter">

    <ion-card>
      <img src="../../assets/LogoYabi.png" />
     <ion-card-header>
       <ion-card-title style="color: #000000;">
         Votre plateforme évènementielle
       </ion-card-title><br><br>
     </ion-card-header>
     <ion-card-content>
       <ion-button (click)="loginPage()">
        <b> Rejoindre </b>
       </ion-button>
       <!-- Vert #275C3C -->
       <br><br><span style="color: #000000;" (click)="aboutPage()"> A propos de YaBi</span>
     </ion-card-content>
    </ion-card>
    </div>
  </div>

</ion-content>
