<ion-header>

</ion-header>

<ion-content>

  <div class="background-pic">
     <div class="background-filter">

       <ion-card>
        <ion-card-header>
          <ion-card-title>
           <img src="../../assets/LogoYabi.png" style="display:block; margin:auto; width: 50px; height: 50px">
           <br>
           <b> A propos de Yabi </b>
          </ion-card-title>
        </ion-card-header>
         <ion-card-content>
          <div text-center>
            <ion-title>Par: Yaba-In & Stark</ion-title>
            <ion-title>Version: 1.0.1</ion-title>
            <!-- <ion-title>Version: {{version}}</ion-title> -->
            <br>
            <ion-title>Questions/Suggestions?</ion-title>
            <ion-note ion-text color="primary">contact@yabain.com</ion-note>
          </div>
         </ion-card-content>
       </ion-card>
     </div>
  </div>

</ion-content>
<div class="middle-button-container" (click)="navigateToWelcomePage()">
  <p style="text-align:center;">
    <ion-fab style="margin-top: -75px; margin-left: -30px;">
      <ion-fab-button style="--background:#FFFFFF" size="small">
        <ion-icon name="arrow-back" style="width: 30px; height: 30px; color:#275C3C" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
</div>
