<ion-header class="ion-no-border"style="padding-top: 5px; padding-button: 5px; margin-button: 0">
  <ion-toolbar style="padding-left: 3px;">
    <ion-item slot="start" lines="none" style="padding-top: 15px; border-radius: 15px;padding-left: 0px;">

      <ion-avatar slot="start" (click)="navigateToLoginPage()">
        <img src="../../../assets/user.png">
      </ion-avatar>
      <ion-label>
        <p></p>
        <h3 style="color: black;font-family: Georgia, serif !important;">Utilisateur 1</h3>
      </ion-label>

    </ion-item>

    <ion-buttons slot="end"><br>
      <ion-button (click)="navigateToNotificationsPage()" class="bordered" fill="solid" color="#275C3C" style="color: #275C3C">
        <img src="../../../assets/icon/icon_bell.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content style="padding-top: 0px; margin-top: 0px;">
  <div class="slides ion-margin-bottom" style="padding-top: 0px;">

    <p style="color: #275C3C; margin-left: 15px;margin-top: 0px; padding-bottom: 0px;padding-top: 3px; margin-bottom: 0px; font-family: Georgia, serif !important;"><b> A la une</b></p>
    <ion-slides [options]="slidesOptions">
      <ion-slide class="bordered">
        <ion-card style="background-color: white !important;" (click)="eventPage()">
          <ion-card-header class="addit">
            <div>
              <div class="main">
                <img src="../../../assets/fecefoot.png">
              </div>
            </div> 
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <h4><b>Match de gala: Canon Vs Toner</b></h4>
            <h6 style="font-size: 0.7em;">
              <ion-icon src="assets/account_circle.svg"></ion-icon> FECAFOOT
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="location"></ion-icon> Douala
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="calendar"></ion-icon> 15/09/22
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="time"></ion-icon> 15:00 - 17:30
            </h6>
            <ion-card-title class="ion-margin-bottom"></ion-card-title>
            <ion-card-subtitle class="ion-text-right">30/50 Pls</ion-card-subtitle>
            <ion-progress-bar value="0.7" color="warning"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header class="addit">
            <div style="width: 100%;border-radius: 10px; height: 150px; background: url('../../../assets/event3.png');">
              <div class="main">
                <img src="../../../assets/iza.png">
              </div>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <h4><b>Méga BOUM!! Iza's show pour un noël ❤️❤️❤️</b></h4>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon src="assets/account_circle.svg"></ion-icon> iZa
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="location"></ion-icon> Yaoundé
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="calendar"></ion-icon> 20/12/22
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="time"></ion-icon> 17:00 - 22:30
            </h6>
            <ion-card-title class="ion-margin-bottom"></ion-card-title>
            <ion-card-subtitle class="ion-text-right">120/120 Pls</ion-card-subtitle>
            <ion-progress-bar value="1.0" color="danger"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header class="addit">
            <div style="width: 100%;border-radius: 10px; height: 150px; background: url('../../../assets/event2.png');">
              <div class="main">
                <img src="../../../assets/startupAc.png">
              </div>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <h4><b>Entreprendre au Cameroun étant Jeune</b></h4>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon src="assets/account_circle.svg"></ion-icon> Startup Academy
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="location"></ion-icon> Yaoundé
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="calendar"></ion-icon> 20/12/22
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="time"></ion-icon> 17:00 - 22:30
            </h6>
            <ion-card-title class="ion-margin-bottom"></ion-card-title>
            <ion-card-subtitle class="ion-text-right">12/60 Pls</ion-card-subtitle>
            <ion-progress-bar value="0.20" color="success"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header class="addit">
            <div style="width: 100%;border-radius: 10px; height: 150px; background: url('../../../assets/event2.png');">
              <div class="main">
                <img src="../../../assets/startupAc.png">
              </div>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <h4><b>Entreprendre au Cameroun étant Jeune</b></h4>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon src="assets/account_circle.svg"></ion-icon> Startup Academy
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="location"></ion-icon> Yaoundé
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="calendar"></ion-icon> 20/12/22
            </h6>
            <h6 style="font-size: 0.7em !important;">
              <ion-icon name="time"></ion-icon> 17:00 - 22:30
            </h6>
            <ion-card-title class="ion-margin-bottom"></ion-card-title>
            <ion-card-subtitle class="ion-text-right">12/60 Pls</ion-card-subtitle>
            <ion-progress-bar value="0.20" color="success"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </div>



  <div class="container" style="margin-top: 0px; padding-top: 0px;">
    <h3 style="color: #275C3C; font-family: Georgia, serif !important; margin-left: 10px; font-size: 1em"><b> Événements </b></h3>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <img src="../../../assets/yi_icon.png" alt="img" style="height: 50px !important; width: 50px !important">
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Exprimer son potentiel</h4>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon src="assets/account_circle.svg"></ion-icon> Yaba-In
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="location"></ion-icon> Bangangté
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="calendar"></ion-icon> 20/12/22
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="time"></ion-icon> 17:00 - 22:30
              </h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical" style="color: black;"></ion-icon> 
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <img src="../../../assets/iza.png" alt="img" style="height: 50px !important; width: 50px !important">
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Méga BOUM!! Iza's</h4>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon src="assets/account_circle.svg"></ion-icon> iZa
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="location"></ion-icon> Yaoundé
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="calendar"></ion-icon> 20/12/22
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="time"></ion-icon> 17:00 - 22:30
              </h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical" style="color: black;"></ion-icon> 
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <img src="../../../assets/fecefoot.png" alt="img" style="height: 50px !important; width: 50px !important">
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>L'art d'innover sans diplômes</h4>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon src="assets/account_circle.svg"></ion-icon> FECAFOOT
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="location"></ion-icon> Yaoundé
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="calendar"></ion-icon> 20/12/22
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="time"></ion-icon> 17:00 - 22:30
              </h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical" style="color: black;"></ion-icon> 
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <img src="../../../assets/startupAc.png" alt="img" style="height: 50px !important; width: 50px !important">
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>L'art d'innover sans diplômes</h4>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon src="assets/account_circle.svg"></ion-icon> StartUp Academy
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="location"></ion-icon> Yaoundé
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="calendar"></ion-icon> 20/12/22
              </h6>
              <h6 style="font-size: 0.7em !important;">
                <ion-icon name="time"></ion-icon> 17:00 - 22:30
              </h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical" style="color: black;"></ion-icon> 
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
  <br><br><br>

</ion-content>