<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <div class="shape"><img src="../../assets/shape.svg" /></div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <b> Enregistrement </b>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-input type="text" id="firstName" placeholder="Nom" formControlName="firstName"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"></ion-input><br>
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.firstName.errors.required"> 👈🏾</div>
              </div>
            </ion-item>
            <!-- <ion-item>
              <ion-input type="text" id="lastName" placeholder="Prénom" formControlName="lastName"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"></ion-input><br>
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.lastName.errors.required"> 👈🏾</div>
              </div>
            </ion-item> -->
            <!-- <ion-item>
              <select id="country" formControlName="country" class="col-md-12"
                  [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                  <option value="Cameroon" selected default>Cameroon</option>
                  <option value="Gabon">Gabon</option>
                  <option value="Guinee">Equatorial Guinea</option>
              </select>
              <div *ngIf="submitted && f.country.errors" class="invalid-feedback text-danger">
                  <div *ngIf="f.country.errors.required"> 👈🏾</div>
              </div>
            </ion-item> -->
            <!-- <ion-item>
              <ion-input type="text" id="phone" placeholder="Téléphone" formControlName="phone"
                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"></ion-input><br>
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.phone.errors.required"> 👈🏾</div>
              </div>
            </ion-item> -->
            <ion-item>
              <ion-input type="email" id="email" placeholder="email" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input><br>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.email.errors.required"> 👈🏾</div>
              </div>
            </ion-item>
            <ion-item>
              <ion-input type="password" id="password" placeholder="Mot de passe" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input><br>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.password.errors.required"> 👈🏾</div>
              </div>
            </ion-item>
            <!-- <ion-item>
              <ion-input type="password" id="password2" placeholder="Répétition du mot de passe" formControlName="password2"
                [ngClass]="{ 'is-invalid': submitted && f.password2.errors }"></ion-input><br>
              <div *ngIf="submitted && f.password2.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.password2.errors.required"> 👈🏾</div>
              </div>
            </ion-item> -->
            <ion-item>
              <label for="country" style="color: black; margin-left: 20px; margin-right: auto;">Pays : </label>
              <select (change)="onSelect($event)" id="country" formControlName="country"
                [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                <option></option>
                <option *ngFor="let 
                    countries of country" value="{{countries.id}}">
                  {{countries.name}}
                </option>
              </select>
              <div *ngIf="submitted && f.country.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.country.errors.required"> 👈🏾</div>
              </div>
            </ion-item>
            <ion-item>
              <label for="city" style="color: black; margin-left: 20px; margin-right: auto;">Ville : </label>
              <select id="city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                <option>Sélectinnez votre ville</option>
                <option *ngFor="let cities of
                 city">{{cities.name}}</option>
              </select>
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.city.errors.required"> 👈🏾</div>
              </div>
            </ion-item>
            <ion-item>
              <div *ngIf="submitted && f.user_agree.errors" class="invalid-feedback text-danger">
                <div *ngIf="f.user_agree.errors.required">👉🏾 </div>
              </div>
              <input checked type="checkbox" class="switch-input" id="user_agree" name="checkbox-1"
                [ngClass]="{ 'is-invalid': submitted && f.user_agree.errors }" formControlName="user_agree">
              <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span><span
                style="color: black;"> J'accepte les
                <a href="#"><b> termes d'utilisation</b></a>.</span>
            </ion-item>

            <div class="bottom-section">
              <ion-button type="submit" (click)="submit()">S'enregistrer</ion-button>
              <span style="color: black"> Vous avez déjà un compte ? <a
                  (click)="navigateToSigninPage()">Connexion</a></span>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>