<ion-header class="ion-no-border" style="padding-top: 5px; padding-bottom: 0px;margin-bottom: 0;">
    <ion-toolbar style="padding-left: 0px; padding-top: 5px;">
        <ion-buttons slot="start">
            <i class="fa fa-arrow-left" style="color: #275C3C; font-size: 25px" type="cancel" (click)="closeModal()"></i>
        </ion-buttons>
        <ion-title style="color: #275C3C" class="center col col-center text-center"> {{modalTitle}}</ion-title>
        <i slot="primary" type="submit" (click)="save();closeModal()" style="color: #275C3C; font-size: 25px" class="fa fa-check"></i>
    </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">

    <ion-grid>
        {{modalDescription}}
    </ion-grid>

    <ion-card-content>
         <b> Ancien : </b>
         {{modalValue}}
        <ion-item>
         <ion-input type="email" placeholder="{{modalValue}}"></ion-input>
        </ion-item>
        <!-- <a  (click)="navigateToForgotPage()">Mot de passe oublié.</a> -->

        <!-- <div class="bottom-section">
          <ion-button type="submit" (click)="submit()"><b> Se connecter </b></ion-button>
          <span> Pas de compte ? <a (click)="navigateToSignupPage()">Créer </a> maintenant</span>
        </div> -->
     </ion-card-content>


</ion-content>