<app-title [title]="title"></app-title>
<ion-content style="padding-top: 0px; margin-top: 0px;" [fullscreen]="true">
  <div id="container">
    <div class="slides ion-margin-bottom" style="padding-top: 0px; padding-bottom: 0px">

      <ion-slides [options]="slidesOptions" class="addit" style="background: url('../../../assets/foot.png');">
        <ion-card-header class="cal-md-12">
          <div class="main">
            <img src="../../../assets/fecefoot.png">
          </div>
        </ion-card-header>
      </ion-slides>
      <ion-grid>
        <ion-card-content class="ion-text-left" style="color: black;">
          <h2><b>Match de gala: Canon Vs Toner</b></h2>
          <h5 style="font-size: 1em !important;">
            <ion-icon name="location"></ion-icon> Douala
          </h5>
          <h5 style="font-size: 1em !important;">
            <ion-icon name="calendar"></ion-icon> 15/09/22
          </h5>
          <h5 style="font-size: 1em !important;">
            <ion-icon name="time"></ion-icon> 15:00 - 17:30
          </h5>
        </ion-card-content>
      </ion-grid>
    </div>
    <table style="border: none; text-align: center !important; color: black;">
      <tr>
        <td style="padding-right: 0px;">
          <ion-button class="btn prestige"><b>Prestige</b></ion-button>
        </td>
        <td>
          <ion-card-title class="ion-margin-bottom"></ion-card-title>
          <ion-card-subtitle class="ion-text-right">30/50 Pls</ion-card-subtitle>
          <ion-progress-bar value="0.7" color="warning"></ion-progress-bar>
          <b>50 000 FCFA</b>
        </td>
      </tr>
      <tr>
        <td style="padding-right: none;">
          <ion-button class="btn vip"><b>VIP</b></ion-button>
        </td>
        <td>
          <ion-card-title class="ion-margin-bottom"></ion-card-title>
          <ion-card-subtitle class="ion-text-right">12/50 Pls</ion-card-subtitle>
          <ion-progress-bar value="0.7" color="primary"></ion-progress-bar><b>25 000 FCFA</b>
        </td>
      </tr>
      <tr>
        <td style="padding-right: none;">
          <ion-button class="btn basic" id="nested-button"><b>Classique</b></ion-button>
        </td>
        <td>
          <ion-card-title class="ion-margin-bottom"></ion-card-title>
          <ion-card-subtitle class="ion-text-right">12/50 Pls</ion-card-subtitle>
          <ion-progress-bar value="0.7" color="dark"></ion-progress-bar><b>10 000 FCFA</b>
        </td>
      </tr>
    </table><br>

    <div>
      <!-- <ion-item lines=""> -->
      <ion-grid style="color: black !important; background-color: white;"><b>{{'description' | translate}}: </b><br>
        <p style="text-align: justify">Ceci est un exemple de description de l'évènement.
          Ceci est un exemple de description de l'évènement.
          Ceci est un exemple de description de l'évènement.
          Ceci est un exemple de description de l'évènement.
          Ceci est un exemple de description de l'évènement.
          Ceci est un exemple de description de l'évènement.
        </p>
      </ion-grid>
      <!-- </ion-item> -->
    </div>


    <ion-popover trigger="nested-button" [dismissOnSelect]="true" padding  style="position:absolute;">
      <ng-template style="position:absolute; margin-top: 15px;margin-bottom: 15px;">
          <ion-content>
              <ion-list>
                  <ion-item [button]="true" [detail]="false">
                      <ion-label>Option 11111111111111111111111111111111111111111111111</ion-label>
                  </ion-item>
                  <ion-item [button]="true" [detail]="false">
                      <ion-label>Option 2</ion-label>
                  </ion-item>
                  <ion-item [button]="true" [detail]="true" id="nested-trigger">
                      <ion-label>Option 3</ion-label>
                  </ion-item>

                  <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                      <ng-template>
                          <ion-content>

                              <ion-item [button]="true">
                                  <ion-label>Nested Option</ion-label>
                              </ion-item>
                          </ion-content>
                      </ng-template>
                  </ion-popover>
              </ion-list>
          </ion-content>
      </ng-template>
  </ion-popover>
  </div>
  <br><br><br>

</ion-content>