.inner-scroll{
  background-color: white;
}
ion-card-content{
  background-color: white !important;
  background: #fff;
  margin-top: 30px;

  ion-item{
      --ion-item-background:transparent;
      --border-width:0;
      --inner-border-width:0;
      --highlight-color-focused:none;
      margin-bottom: 15px;

      ion-input{
          width:257px;
          height: 42px;
          border-radius: 15px;
          border:  1px solid #198645;
          font-size: 14px;
          font-weight: 300;
          color:#555B5B;
          --padding-start:30px;
      }

  }

  a{
      text-decoration: none;
      color:#589B3F;
      font-weight: 300;
      font-size: 13px;
  }
}

.center {
  font-size: 1.3em !important;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-header {

  ion-toolbar,
  ion-item {
    --background: #eef2ee;
    background: #eef2ee;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }

}